﻿<!DOCTYPE html>
<html ng-app="weather">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="assets/images/icons/d/01.png">
	<title>We do Weather</title>
	
	<!-- Roboto -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
	
	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	<!-- AngularJs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="app.js"></script>

	<!-- Spinner -->
	<script src="assets/js/material.spinner.min.js"></script>
	

	<style>

		@font-face {
		    font-family: AveFedan;
		    src: url(assets/AveFedan.ttf);
		}

		html, body{
			font-family: 'Roboto', sans-serif;
			text-align: center;
			height: 100%;
			/* color: #E1E1E1; */
			color: #FFF;
			background-color: #F1F1F1;
			font-size: 18px;
		}
		.day{
			background-image: url("assets/images/bck1.jpg");
			background-position: left center;
		}
		.night{
			background-image: url("assets/images/bck2.jpg");
			background-position: left center;
		}
		#weather-wrapper{
			/* border: 1px solid #000; */
			margin: 0 auto;
			height: 100%;
			padding:20px;
		}
		.vcenter {
		    display: inline-block;
		    vertical-align: middle;
		    float: none;
		}
		.logo{
			font-family: AveFedan;
			/* 
			position: absolute;
			top: 50px;
			left: 40px;
			*/
			font-size: 50px;
			margin: 50px;
			text-align: left;
		}
		

		@media only screen and (min-width: 320px) {

			span.temp{ 
				font-size: 25px; 
			}

			h3{
				font-size: 13px;
			}
			.logo{
				font-size: 35px
			}

		}

		@media only screen and (min-width: 600px) {

			span.temp{ 
				font-size: 50px; 
			}

			h3{
				font-size: 24px;
			}

		}

	</style>
</head>
<body ng-controller="main" ng-class="moment" > 
	<div class="container-full">

	<div class="row" style="width:100%">
		<div class="col-xs-12 col-md-12 col-lg-12">
			<h2 class="logo">We do Weather </h2>
		</div>
	</div>
	<div class="row" style="width:100%;"><!--
	    --><div class="col-xs-1 col-md-2 col-lg-2 vcenter" style="height:100%">

	    </div><!--
	    --><div class="col-xs-10 col-md-8 col-lg-8 vcenter" ng-show="ready==false">
			<div class="row" id="weather-wrapper">
				
				<div class="col-xs-12 col-md-12 col-lg-12 vcenter" >
					<div id="demo" data-spinner='{"radius": 25, "color": "#FFF"}'></div>
					<h3 style="color:#FFF; font-family:AveFedan">Rising the Sun...</h3>
				</div>
				
			</div>
	    </div><!--
	    --><div class="col-xs-10 col-md-8 col-lg-8 vcenter" ng-show="showWeather==true && ready==true">
			<div class="row" id="weather-wrapper">
				
				<div class="col-xs-5 col-md-5 col-lg-5 vcenter" style="border-right:2px solid #FFF">
					<img ng-src="assets/images/icons/{{iconTime}}/{{icon}}.png" class="img-responsive" style="margin:0 auto">
					<h3> {{ desc }} </h3>
				</div>
				<div class="col-xs-6 col-md-6 col-lg-6 vcenter" style="height:100%">
					<span class="temp">{{ temp }} ºC</span>

					<h3>{{ city }}</h3>
				</div>
				
			</div>
	    </div><!--
	    --><div class="col-xs-10 col-md-8 col-lg-8 vcenter" ng-show="showWeather===false">
			<div class="row" id="weather-wrapper">
				
				<div class="col-xs-12 col-md-12 col-lg-12 vcenter">
					
					<form ng-submit="searchByCity(searchValue)" >
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search by City Name or Zip Code, Country Code" ng-model="searchValue" required>
							<span class="input-group-btn">
								<input type="submit" class="btn btn-primary" type="button" value="Hope Its Sunny!"/>
							</span>
					    </div>
				    </form>
				</div>
				
				
			</div>
	    </div><!--
	    --><div class="col-xs-1 col-md-2 col-lg-2 vcenter" style="height:100%">

	    </div>
	</div>
	
	</div>


</body>
</html>